body {
	background-color: #F6F5Ed;
	margin: 0;
	padding: 0;
	font-family: gill, helvetica, sans-serif;
}

a:link {text-decoration: none; color:#000000;}
a:visited {color:#000000;}
a:hover {font-weight:bold;}
a:active {text-decoration:underline; font-weight:bold;}
a:target {padding-top: 200px;}

#kopf h1 {
	font-size: 350%;
	float: left;
	padding-left: 10px;
	font-family: serif;
	color: #F4F4F2;
}

#kopf {
	background-color: #261A90;
	position: fixed;
	top: 0;
	width:100%;
	max-width: 2560px;
	height: 120px;
	padding: 10px;
	padding-top: 0;
}
#navi {
	position: fixed;
	top: 120px;
	width: 100%;
	height: 30px;
	background-color: #E7E7E7;
	margin: 0;
	padding: 10px;
}

#navi ul {
	list-style-type: none;
	margin: 0;
	padding: 0.3em;
}

#navi li {
	display: inline;	
	padding: 0.2em;
	background-image: url(../image/button_inactive.png);
}

#navi .cur span {
	padding:0.5em;	
	color: gray;
}

.logo {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	vertical-align: middle;
}

.titel {
	margin-top: 200px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 150%;
}

#intro {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 120%;
	line-height: 150%;
}

.info {
	margin-left: 30px;
	width: 70%;
	font-size: 120%;
	line-height: 150%;
	margin-bottom: 2em;
}

.infobox {
	float: left;
	margin-left: 8em;
	width: 50%;
	background-color: #F3C876;
	text-align: justify;
	padding: 10px;
}

.infobox th {
	background-color: #1F5663;
	color: #F3ECD7;
	text-align: center;
	line-height: 150%;
}

.item_1 {
	font-size: 150%;
	margin-left: 50px;
	line-height: 150%;
}

.item_2 {
	font-size: 130%;
	margin-left: 80px;
	line-height: 150%;
}

.anleitung {
	margin-left: 100px;
	margin-right: 30px;
	margin-bottom: 2em;
	width: 90%;
	line-height: 120%;
}

.anleitung a {
	text-decoration: underline;
}

.anleitung ul {
	display: block;
	margin-left: 2em;
}

ol {
	font-size: 120%;	
	display: block;
	margin-left: 2em;
	line-height: 150%;
}

ol li {
	margin-bottom: 1em;
	line-height: 150%;
}

.symbol {
	display: inline;
	vertical-align: middle;
}

